  <!-- Footer-->
  <footer>
    <div class="container">
      <div class="row">
        <!-- Logo and About -->
        <div class="col-md-4">
          <div class="footer-logo">
            <img src="../../assets/japanese-food.png" alt="Bistro Bliss Logo">
            <h4 class="align-text-center d-inline-block fst-italic  ps-3 ">Bistro Bliss</h4>
          </div>
          <p class="footer-text">
            In the new era of technology, we look to the future with certainty and pride for our company.
          </p>
          <div class="footer-social-icons">
            <a href="#"><i class="bi bi-twitter"></i></a>
            <a href="#"><i class="bi bi-facebook"></i></a>
            <a href="#"><i class="bi bi-instagram"></i></a>
            <a href="#"><i class="bi bi-github"></i></a>
          </div>
        </div>

        <!-- Nav Links -->
        <div class="col-md-2">
          <h5>Pages</h5>
          <ul class="footer-nav">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Menu</a></li>
            <li><a href="#">Pricing</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Delivery</a></li>
          </ul>
        </div>

        <!-- Pages -->
        <div class="col-md-2">
          <h5>Utility Pages</h5>
          <ul class="footer-utility">
            <li><a href="#">Start Here</a></li>
            <li><a href="#">Styleguide</a></li>
            <li><a href="#">Password Protected</a></li>
            <li><a href="#">404 Not Found</a></li>
            <li><a href="#">Licenses</a></li>
            <li><a href="#">Changelog</a></li>
            <li><a href="#">View More</a></li>
          </ul>
        </div>

        <!-- Insta Images -->
        <div class="col-md-4">
          <h5>Follow Us On Instagram</h5>
          <div class="footer-insta">
            <img src="../../assets/footer-1.png" alt="Instagram Image">
            <img src="../../assets/footer-2.png" alt="Instagram Image">
            <img src="../../assets/footer-3.png" alt="Instagram Image">
            <img src="../../assets/footer-4.png" alt="Instagram Image">
          </div>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <div class="footer-bottom">
      <p>Copyright &copy; 2023 Hashtag Developer. All Rights Reserved</p>
    </div>
  </footer>

