

    <div class="container py-5">
      <div class="row align-items-center">
        <!-- Left Image and Contact Info -->
        <div class="col-md-6 img-container">
          <img src="../../assets/about-hero.png" class="img-fluid" alt="Healthy food">
          <div class="contact-card-container">
            <div class="contact-card">
              <h3>Come and visit us</h3>
              <p><i class="bi bi-telephone"></i> (414) 987  0107</p>
              <p><i class="bi bi-envelope"></i> happytummyrestaurant.com</p>
              <p><i class="bi bi-geo-alt"></i> 837 W. Marshall Lane Marshalltown, IA 50158, Los Angeles</p>
            </div>
          </div>
        </div>
  
        <!-- Right Text Content -->
        <div class="col-md-6">
          <h1 class="mb-4 ">We provide healthy <br> food for your family.</h1>
          <p class="lead">
            Our story began with a vision to create a unique dining experience that merges fine dining,
            exceptional service, and a vibrant ambiance. Rooted in the city's rich culinary culture, we aim to
            honor our local roots while infusing a global palate.
          </p>
          <p class="mb-4">
            At place, we believe that dining is not just about food, but also about the overall experience.
            Our staff, renowned for their warmth and dedication, strives to make every visit an unforgettable event.
          </p>
        </div>
      </div>
    </div>
  
  
  
    
  