<div class="container my-5">
    <!-- Blog Upper -->    
    <div class="d-flex justify-content-between mb-4">
        <h1 class="display-5 fw-bold ">Our Blog & Articles</h1>
        <a href="#" class="btn btn-danger btn-lg align-self-center">Read All Articles</a>
    </div>
    <!-- Blog Down -->
    <div class="row">
      <!-- Large Card -->
      <div class="col-lg-6 mb-4">
        <div class="card h-100 shadow-lg">
          <img src="../../assets/Blog1.png" class="card-img-top" alt="Burger">
          <div class="card-body">
            <p class="text-muted mb-2">January 3, 2023</p>
            <h5 class="card-title">The secret tips & tricks to prepare a perfect burger & pizza for our customers</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Semper adipiscing massa gravida nisi cras enim quis nibh.</p>
          </div>
        </div>
      </div>

      <!-- Small Cards -->
      <div class="col-lg-6">
        <div class="row">
          <!-- Blog Card 1 -->
          <div class="col-sm-6 mb-4">
            <div class="card h-100 shadow-sm">
              <img src="../../assets/Blog2.png" class="card-img-top" alt="French Fries">
              <div class="card-body">
                <p class="text-muted mb-2">January 3, 2023</p>
                <h6 class="card-title">How to prepare the perfect french fries in an air fryer</h6>
              </div>
            </div>
          </div>

          <!-- Blog Card 2 -->
          <div class="col-sm-6 mb-4">
            <div class="card h-100 shadow-sm">
              <img src="../../assets/Blog3.png" class="card-img-top" alt="Chicken Tenders">
              <div class="card-body">
                <p class="text-muted mb-2">January 3, 2023</p>
                <h6 class="card-title">How to prepare delicious chicken tenders</h6>
              </div>
            </div>
          </div>

          <!-- Blog Card 3 -->
          <div class="col-sm-6 mb-4">
            <div class="card h-100 shadow-sm">
              <img src="../../assets/Blog4.png" class="card-img-top" alt="Cheesecake">
              <div class="card-body">
                <p class="text-muted mb-2">January 3, 2023</p>
                <h6 class="card-title">7 delicious cheesecake recipes you can prepare</h6>
              </div>
            </div>
          </div>

          <!-- Blog Card 4 -->
          <div class="col-sm-6 mb-4">
            <div class="card h-100 shadow-sm">
              <img src="../../assets/Blog5.png" class="card-img-top" alt="Pizza">
              <div class="card-body">
                <p class="text-muted mb-2">January 3, 2023</p>
                <h6 class="card-title">5 great pizza restaurants you should visit this city</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
