
   <section class="info-section">
    <div class="container">
      <div class="row align-items-center">
        <!-- Text and Stats -->
        <div class="col-md-6 content">
          <h2>A little information <br> for our valuable guest</h2>
          <p>At our place, we believe that dining is not just about food, but also about the overall experience. Our staff, renowned for their warmth and dedication, strives to make every visit an unforgettable event.</p>
          
          <!-- Stats Grid -->
          <div class="row">
            <!-- Stat 1 -->
            <div class="col-6 mb-4">
              <div class="info-box">
                <h2>3</h2>
                <span>Locations</span>
              </div>
            </div>

            <!-- Stat 2 -->
            <div class="col-6 mb-4">
              <div class="info-box">
                <h2>1995</h2>
                <span>Founded</span>
              </div>
            </div>

            <!-- Stat 3 -->
            <div class="col-6 mb-4">
              <div class="info-box">
                <h2>65+</h2>
                <span>Staff Members</span>
              </div>
            </div>

            <!-- Stat 4 -->
            <div class="col-6 mb-4">
              <div class="info-box">
                <h2>100%</h2>
                <span>Satisfied Customers</span>
              </div>
            </div>
          </div>
        </div>

        <!-- Image -->
        <div class="col-md-6 img-container mx-5">
          <img src="../../assets/about-content2.png" alt="Food Preparation">
        </div>
      </div>
    </div>
  </section>